*{
    margin: 0;
    padding: 0;
}

.inline-flex-container
{
   width:1500px;
   height:450;
   display:flex;
  margin:left; /* Centers items vertically */

   padding: 0;
}
.inline-flex-item {
   padding: 10px;
    margin: 5px;
    margin:left;
}
/* navbar */
#navbar-color{
    background-color: rgb(240, 124, 182);
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.card {
    margin: 0px;
    width: 300px;
    height: 250px;
    display:flex;
    float:left; /* Float images to the left */
    margin-left: 10px;
    
}
.container {
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center align text and image */
   
}

.container p {
    margin-bottom: 20px; /* Add space between text and image */
    display:flex;
    align-items: center; /* Center items horizontally */
    text-align: center; 
}
.flex-container{
    display:inline-box;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text horizontally */
}

.images img {
    margin-top: 20px; /* Add some space between text and images */
}
.New{
    display:inline-block
}


/* Style for the container div */
.perfume-container {
    display:flex;
    justify-content: space-around; /* Adjust as needed */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    text-align: Center;
}
.miniature-container{
    display:inline-block;
    margin: 10px; /* Adjust margin as needed */
}
.miniature-container p{
    color: rgb(232, 144, 31);
  
}
#footer{
    width: 100%;
    background-color: black;
    margin-top: 100px;
}
#footer h1{
    color: white;
    padding-top: 20px;
}
#footer p{
    color: white;
}
#footer p{
    color: white;
}
.icons i{
    color: rgba(238,224,208);
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    color: white;
    margin-top: 30px;
   text-align: Center;
}
.copyright text-center{
  color: white;
}
.credite {
  color:white;
  text-align: center;
 
}
.contact-block{
    text-align:center;
    color:white;
   
}

